.jobs-body {
    /* direction: rtl; */
    width: 100%;
    height: 1526px;
    background-image: url('../../Assests/264ce7fe125b235cb2e6c1e7f6746b98.png');

     /* margin-left: 500px; */
    /* margin-right: 600px; */
    display: flex;
    justify-content: center;
    /* margin: 0px 97px 0px 97px; */
}

button {
    width: 100px;
    height: 40px;
}





