table {

    border-collapse: collapse;
    width: 100%;
    text-align: right;
}

td,
th {
    border-collapse: collapse;
    /* border: 1px solid #F2F2F2; */
    text-align: right;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}