.new-task-due-date-style {
    font-family: Rubik-regular, sans-serif;
    .due-date-headline {
        width: 100%;
        border-bottom: 1px solid #787878;
        padding: 10px 0px 10px 0px;
        .due-date-title {
            width: 102px;
            font-size: rem(18px);
            flex-basis: 170px;
            justify-content: flex-end;
        }
        .btn-close {
            width: 25px;
            height: 25px;
            flex-basis: 25px;
            justify-self: flex-end;
        }
    }
    .due-date-start-date-headline {
        color: #4a4a4a;
        width: 100%;
        justify-content: flex-end;
        padding: 10px 0px 10px 0px;
        label {
            input {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }
    .due-date-start-date-body {
        justify-content: flex-end;
        width: 300px;
        flex-basis: 80%;
        input {
            text-transform: uppercase;
            color: #4a4a4a;
            background-color: #f2f2f2;
            height: rem(34px);
            border: 1px solid lightgray;
            margin: 0px 30px 0px 0px;
        }
    }
    .due-date-end-date-headline {
        width: 100%;
        color: #4a4a4a;
        justify-content: flex-end;
        padding: 10px 0px 10px 0px;
        label {
            input {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }
    .due-date-end-date-body {
        justify-content: flex-end;
        width: 100%;
        flex-basis: 80%;
        input[type="date"] {
            color: #4a4a4a;
            background-color: #f2f2f2;
            width: rem(140px);
            height: rem(34px);
            font-size: rem(14px);
            border: 1px solid lightgray;
            margin: 0px 30px 0px 0px;
        }
        input[type="time"] {
            color: #4a4a4a;
            background-color: #f2f2f2;
            width: rem(92px);
            height: rem(34px);
            font-size: rem(14px);
            border: 1px solid lightgray;
        }
    }
    .due-date-set-reminder-label {
        width: 100%;
        justify-content: flex-end;
        color: #4a4a4a;
        padding: 10px 0px 10px 0px;
        label {
            width: rem(85px);
            font-size: rem(16px);
            margin-right: 2px;
        }
    }
    .due-date-set-reminder-select {
        select {
            direction: rtl;
            color: #4a4a4a;
            background-color: #f2f2f2;
            font-size: rem(18px);
            width: rem(261px);
            height: rem(34px);
            border: 1px solid lightgray;
        }
    }
    .save-btn {
        width: rem(153px);
        height: rem(40px);
        background-color: $clr1;
        color: white;
        margin: 30px 0px 30px 0px;
    }
}
