.ppl-assigned {
    .task-con {
        font-family: "Spartan sans-serif";
        width: 300px;
        height: 330px;
        border: 1px solid lightgrey;
    }
    .save-btn {
        width: 100%;
        color: whitesmoke;
        background-color: #34018e;
    }
}
