.job-description {
direction: rtl;
border: 1px solid #34018E;
background-color: whitesmoke;
min-width: 200px;
width: 60%;
height: 870px;
margin: 250px 0px 0px 97px ;
padding-right: 7%;
text-align: right;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.job-title {
    font-size: 25px;
    direction: rtl;
    font-style: medium;
    text-align: right;
    font-weight: 500;
    }
    
    .content {
    /* background-color: rgb(251, 255, 0); */
    /* width: 618px; */
    /* margin-top: 93px; */
    
    font-weight: normal;
    font-size: 18px;
    text-align: right;
    color: #000000;
    }
    
    .looking-for {
    /* width: 154px; */
    
    
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    
    /* Dark purple */
    
    color: #34018E;
    }
    
    .demands {
    /* width: 340px; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    
    text-align: right;
    
    /* black */
    
    color: #000000;
    }
    
    
    
    .job-type {
     
        margin-left: 98px;
        margin-right: 566px;
    }
    
    .location {
      
        margin-left: 374px;
        margin-right: 264px;
        font-size: 18px;
    }
        
    .content > .url {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        cursor: pointer;
        text-align: right;
        text-decoration-line: underline;
    
        
    }
    
    .room-icon {
   
        margin-right: 170px;
        color: blueviolet;
    }
    
    .business-icon {
        /* width: 16px;
        height: 21px;
        */
    }
