.job-item{
    /* position: absolute; */
    border: 1px solid #34018E;
    /* background-color: rgb(42, 165, 118); */
    width: 98%;
    height: 125px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.jobClicked{
    background-color: rgba(170, 128, 128, 0.6);
}
