.adding-job-container{
   margin-right: 25%;
   padding: 30px;
    
    font-family: Rubik-regular;
    z-index: 100;
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 40%;
    border: 1px solid;
    justify-content: flex-start;
 
    
    label{
        width: 100%;
        flex-wrap: nowrap;
        white-space: pre;
    }
input{
    padding: 7px;
    border-radius: 5px;
    border: 1 px solid #34018E;
    
    margin: 15px 5px;
}
.data-and-time{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
    align-self: flex-start;
    width: 100%;
  
}
.data-and-time-input{
    display: flex;
    justify-content: space-between;

}

.save-btn{
    width: 200px;
    height: 46px;
    background-color: #34018E;
    font-size: 18px;
    color: white;
    border-radius: 2px 15px;
    border: none;
    font-family: Rubik, sans-serif;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.form-check{
    display: flex;
    flex-direction: row;
    
    flex-wrap: nowrap;
    white-space: pre;
    align-items: center;

 
}

}

.Description{
    width: 100%;
    display: flex;
    flex-direction: column;

}
textarea{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid ;
   
    margin: 15px 0;
}
.add-file{
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 2px solid;
    // border-radius:5px ;
}

.event-title{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.link-To-Linkedin{
    display: flex;
    flex-direction: column;
    width: 100%;
}