.sidebar {
    height: 100vh;
    width: 250px; 
    border-left: 2px solid #34018E;
    direction: rtl;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    z-index:100;
    // padding: 15px;
}
.sidebarList {
    height: 100%;
    width: 100%;
    // background-color: blue;
    // padding: 25px;
    

    .row {
        width: 100%;
        height: 50px;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: Rubik-regular;
      
    }

}
.row:hover {
    
    background-color: #f2f2f2;

    border-radius: 0 35px 35px 0;
    cursor: pointer;
}

.sidebar-admin-right-arrow{
    display: flex;
    justify-content: flex-start;
   

    
    }
.sidebar-admin-hidden{
    display: none;
}
.sidbar-left-arrow{
    height: 100vh;
    width: 25px;
  
    background-color:#35018e3a ;
    position: absolute;
    // right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  

}