.sideBar{
    display: flex;
    flex-direction: row-reverse;

}
.sideBar-container{
    display: flex;
    flex-direction: row-reverse;
    z-index:100;
 
}
    .sidebar-admin {
        box-sizing: border-box;
        height: 100vh;
        width: 15%;
        // z-index: 99;
        direction: rtl;
        display: flex;
        justify-content: flex-end;
        // flex-direction: column;
        gap:30px;
        background-color: white;
        font-family: Rubik-regular;
        border-left:2px solid #34018E ;
        padding: 15px;
        align-content: flex-end;
        position: absolute;
        // right: 0;
       
        
        

        .arrow-icon{
            text-align: left;
            position: relative;
           
        }
        .flex{
            margin: 50px auto;
            margin-right: 30px;
        }

        .flex:hover{
            width: 76%;
            background-color:#f2f2f2;
           
            padding: 15px;
            border-radius:  0 25px 25px 0;
            cursor: pointer;
            
        }
       

        // .content,
        // .erase {
        //     gap: 40px;

    //         div .flex {
    //             cursor: pointer;
    //             width: 150px;
    //             transition: 0.2s;

    //             &:hover {
    //                 transition: 0.2s;
    //                 transform: scale(1.2);
    //             }
    //         }
    //     }
    // }
}
.sidebar-admin-right-arrow{
    display: flex;
    justify-content: flex-start;
   

    
    }
.sidebar-admin-hidden{
    display: none;
}
.sidbar-left-arrow{
    height: 100vh;
    width: 25px;
  
    background-color:#35018e3a ;
    position: absolute;
    // right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  

}
