.jobs-page {
    height: 700px;
    background-color: white;

    .description-job {
        border: 1px solid #34018E;
        width: 50%;
        border-radius: 10px;
        direction: rtl;
        padding: 2% 4%;

        .container-job {
            height: 100%;
            justify-content: space-between;

            .social {
                .icon-social {
                    img {
                        width: 46px;
                    }
                }
            }

            .buttons-modify {
                width: 100%;
                align-items: flex-end;
                justify-content: end;
                gap: 10px;

                span {
                    display: inline;
                    background-color: #F2F2F2;
                    text-align: center;
                    height: 25%;
                    padding: 3px 15px 3px 30px;

                    img {
                        margin-left: 10px;
                        vertical-align: middle;

                    }
                }
            }
        }

        .card-content-info {
            gap: 20px;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .job-icon {
                width: 30px;
                font-size: 18px;
                color: #34018e;
                margin-left: 10px;
                position: relative;
                top: -4px;
            }
        }

    }

    .jobs-list {
        border-top: 1px solid #34018E;
        border-bottom: 1px solid #34018E;
        border-radius: 10px;
        width: 40%;
        overflow-y: auto;

        .job-card {
            border-radius: 10px;
            direction: rtl;
            width: 100%;
            height: 120px;
            border: 1px solid #34018E;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;

        }

        #job-card-clicked {
            background-color: #6CE5E7;
        }
    }
}

.sorting-jobs {
    // width: 100%;
    direction: rtl;
    justify-content: space-around;
    gap: 40%;
}