.label_div {
  h1 {
    float: right;
    margin: 2.5rem;
  }
  .add_new_job {
    float: right;
    margin: 2.5rem;
    background-image: url(../../images/icons/add_new_content.png);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    font-size: 1.125rem;
    font-weight: bold;
    width: 15rem;
    height: 3rem;
    background-color: inherit;
    border: inherit;
  }
}
.search-job-by-buttons {
  width: 94.5%;
  margin-bottom: 1rem;
}
.sorting-jobs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  direction: rtl;

  select {
    float: right;
    margin: 0 0.8rem;
    border-radius: 10px;
    height: 3.0625rem;
    width: 10.375rem;
    color: #34018e;
    font-size: 1.125rem;
    font-weight: bold;
    padding-right: 0.7rem;
    appearance: none;
    background-image: url(../../images/jobs/Vector.png);
    background-repeat: no-repeat;
    background-position: left 1rem center;
    background-size: 1em;
  }

  input {
    float: left;
    border-radius: 10px;
    border: solid 1px black;
    width: 21rem;
    height: 3rem;
    color: #34018e;
    font-size: 1.125rem;
    font-weight: bold;
    padding-right: 0.7rem;
    background-image: url(../../images/jobs/searchbcg.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  input::placeholder {
    color: #34018e;
  }
}

.jobs-page {
  height: 700px;
  background-color: white;
  margin-bottom: 148px;

  ::-webkit-scrollbar {
    display: none;
  }

  .description-job {
    background-color: white;
    border: 1px solid #34018e;
    width: 50%;
    border-radius: 10px;
    direction: rtl;
    padding: 2% 4%;
    z-index: 1;

    .container-job {
      height: 100%;
      justify-content: space-between;

      .social {
        .icon-social {
          img {
            width: 46px;
          }
        }
      }

      .buttons-modify {
        width: 100%;
        align-items: flex-end;
        justify-content: end;
        gap: 10px;

        span {
          display: inline;
          background-color: #f2f2f2;
          text-align: center;
          height: 25%;
          padding: 3px 15px 3px 30px;

          img {
            margin-left: 10px;
            vertical-align: middle;
          }
        }
      }
    }

    .card-content-info {
      gap: 20px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .job-icon {
        width: 30px;
        font-size: 18px;
        color: #34018e;
        margin-left: 10px;
        position: relative;
        top: -4px;
      }
    }
  }

  .jobs-list {
    // border-top: 1px solid #34018e;
    // border-bottom: 1px solid #34018e;
    // border-radius: 10px;
    width: 36%;
    overflow-y: auto;
    z-index: 0;
    position: relative;
    right: 10px;

    .job-card {
      border-radius: 0 10px 10px 0;
      direction: rtl;
      width: 100%;
      height: 120px;
      border: 1px solid #34018e;
      padding: 5px;
      box-sizing: border-box;
      cursor: pointer;
    }

    #job-card-clicked {
      background-color: #6ce5e7;
    }
  }
}

// .sorting-jobs {
//   // width: 100%;
//   direction: rtl;
//   justify-content: space-around;
//   gap: 40%;
// }
