.search-bar {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        /* margin-top: 100px; */
        background-color: white;
}



.job-field  {
    background-color: blanchedalmond;
    text-align: left;
    width: 12%;
    border: 1px solid black;
}

.job-field > div {
    background-color: blanchedalmond;
    text-align: right;
    width: 100%;
}

.job-type {
    width: 12%;
    border: 1px solid black;

}

.job-area {
    width: 12%;
    border: 1px solid black;
}

.search {
    width: 20%;
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 550px;
}