// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

// .grid {
//     display: grid;
// }

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.completed {
    background-color: #69eb7d;
}

.started {
    background-color: #7eb3ff;
}
.in_process {
    background-color: #ffc474;
}

.canceled {
    background-color: #d4d4d4;
}

.delay {
    background-color: #ffa39c;
}
