// flex helpers

.flex {
    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

// .grid {
//     display: grid;
// }

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.completed{
    background-color: #69EB7D;
}

.started{
    background-color:#7EB3FF;
}
.in_process{
    background-color:#FFC474;
}

.canceled{
    background-color:#D4D4D4;
}

.delay{
    background-color:#FFA39C;
}