.home-page {
  background: url("../images/home-page-imgs/background.png");
  .header-comp {
    box-shadow: 6px 13px 10px -10px #808080b8;
    background-color: #ffffff94;
    padding: 145px 0px 145px 0px;
    margin-bottom: rem(10px);
  }
  .events-comp {
    background-color: rgba(242, 242, 242, 1);
    box-shadow: 6px 8px 10px -10px #808080b8;
  }
  .jobs-comp {
    align-content: center;
    box-shadow: inset -3px -10px 6px -10px #808080b8;
  }
  .founders-comp {
    background-color: white;
    box-shadow: 6px 8px 20px -10px #808080b8;
  }
  .sunscribe-comp {
    padding: rem(60px) 0px;
  }
}

.disabled-link {
  pointer-events: none;
}
