.home-page {
    margin-top: 15px;
    background-color: grey;
    gap: 10px;
    .dont-miss {
        direction: rtl;
        margin-bottom: 10px;
    }
    .lectures-imgs{
        gap: 10px;
        img {
            height: 200px;
            object-fit: cover;
        }
    }
    .junoior-jobs {
        direction: rtl;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .comunity-hart {
        direction: rtl;
        margin-bottom: 10px;
    }
    .job-card{
        border: 1px solid #34018E;
        border-radius: 5px;
        padding: 3px;
    }
    @media (max-width: $narrow-breakpoint) {
        .lectures-imgs img {
            height: 100px;
        }
    }
}
