.profile-page {
  .profile-section {
    height: 80vh;
    .update-user-details {
      width: 50%;
      .update-profile-form {
        margin-top: rem(30px);
      }
    }
    .user-section {
      width: 50%;
      .user-pic {
        margin: 30px 0px 20px 0px;
      }
      .profile-btn {
        width: rem(250px);
        height: rem(50px);
        gap: rem(10px);
        span {
          width: rem(95px);
          height: rem(37px);
          font-family: Rubik-medium;
          font-size: rem(18px);
          border: 1px solid #C4C4C4;
          border-top-right-radius: rem(10px);
          border-bottom-right-radius: rem(10px);
          border-top-left-radius: rem(10px);
          border-bottom-left-radius: rem(10px);
          &:hover {
            color: white;
            background-color: $clr7;
          }
        }
      }
    }
  }
  .profile-section-menu {
    direction: rtl;
    h1 {
      font-family: Rubik-medium;
      font-size: rem(40px);
      margin-top: rem(30px);
      align-items: flex-end;
    }
    width: rem(424px);
    .span-menu-container {
      height: rem(68px);
      width: rem(396px);
      &:hover {
        border-top-right-radius: rem(40px);
        border-bottom-right-radius: rem(40px);
        background-color: $clr8;
      }
      span {
        padding: 0px 75px 0px 0px;
        font-family: Rubik-medium;
        font-size: rem(18px);
      }
    }
  }
}
