.profile-page {
  height: 85vh;
  .profile-content {
    width: calc(100% - 380px);
    padding-top: rem(90px);
    gap: rem(50px);
    .btn-interest {
      gap: rem(30px);
      .update {
        width: rem(200px);
        height: rem(35px);
        border: 0.5px solid #c4c4c4;
        border-radius: 10px;
        cursor: pointer;
        font-family: Rubik-medium;
        &:hover {
          background-color: $clr7;
          color: white;
        }
      }
      .cancel {
        width: rem(104px);
        height: rem(35px);
        border: 0.5px solid #c4c4c4;
        border-radius: 10px;
        cursor: pointer;
        font-family: Rubik-medium;
        &:hover {
          background-color: $clr7;
          color: white;
        }
      }
    }
  }
  .profile-menu {
    direction: rtl;
    padding-top: rem(70px);
    box-shadow: -10px 0px 7px -10px #aaaaaa;
    width: rem(380px);
    padding-right: rem(30px);
    h1 {
      font-family: Rubik-medium;
      font-size: rem(40px);
    }
    .span-menu-container {
      height: rem(68px);
      width: 100%;
      cursor: pointer;
      &:hover{
        transform: scale(1.03);
        font-weight: 600;
      }
      &.active {
        border-top-right-radius: rem(40px);
        border-bottom-right-radius: rem(40px);
        background-color: $clr8;
      }
      span {
        padding: 0px 65px 0px 0px;
        font-family: Rubik-medium;
        font-size: rem(18px);
      }
    }
  }
}
