.footer {
    direction: rtl;
    background-color: $clr1;
    .footer-content {
        margin: 30px 0px 0px;
        .footer-logo {
            img {
                width: 200px;
                height: 200px;
            }
        }
        .footer-title {
            color: #6ce5e7;
        }
        .main-pages {
            color: white;
            gap: 10px;
            font-size: 14px;
        }
        .community-management {
            color: white;
            gap: 10px;
            font-size: 14px;
        }
        .footer-socials {
            .socials-icons {
                gap: rem(10px);
                .footer-social {
                    &:hover {
                        // color: #ffffff;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
