.footer {
    direction: rtl;
    background-color: $clr1;
    .footer-content {
        margin: 62px 0px;
        .footer-logo {
            img {
                width: rem(200px);
                height: rem(200px);
            }
        }
        .footer-title {
            color: #6ce5e7;
            font-size: rem(20px);
            line-height: rem(23px);
        }
        .main-pages {
            color: white;
            gap: rem(19px);
            font-size: rem(16px);
        }
        .community-management {
            color: white;
            gap: rem(19px);
            font-size: rem(16px);
            line-height: rem(18px);
        }
        .footer-socials {
            .socials-icons {
                gap: rem(15px);
                .footer-social {
                    &:hover {
                        // color: #ffffff;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
