.box-person {
    font-family: Rubik-regular;
    direction: rtl;
    padding: 40px 0px 60px 0px;
    .box-person-head {
        margin-bottom: rem(40px);
    }

    .box-person-headline {
        font-size: rem(40px);
    }

    .box-person-sub-headline {
        font-size: rem(25px);
        color: #4a4a4a;
    }

    .box-person-content {
        .founders {
            gap: rem(20px);
            .founder-content {
                width: rem(200px);
                direction: ltr;
                gap: rem(10px);

                .person-name {
                    font-family: Rubik-medium;
                    font-size: rem(25px);
                    gap: rem(3px);
                }
                .role-text{
                    font-size: rem(18px);
                }
            }
        }
    }
}
