.box-person {
    padding: 30px;
    font-family: Rubik-regular;
    direction: rtl;
    .box-person-head {
        padding: 40px 0px;
    }

    .box-person-headline {
        font-size: rem(40px);
    }

    .box-person-sub-headline {
        font-size: rem(25px);
        color: #4a4a4a;
    }

    .box-person-content {
        .founders {
            gap: rem(20px);
            .founder-content {
                width: rem(200px);
                direction: ltr;

                .person-name {
                    font-family: Rubik-medium;
                    font-size: rem(25px);
                }
            }
        }
    }
}
