.subscribe{
    font-family: Rubik-regular;
    direction: rtl;
    position: relative;
    background-image: url(../../images/background.jpg);
    padding: 100px 0px 50px 0px;
    .stay-update{
        font-family: Rubik-bold;
    }
    .subscribe-input{
        width: 430px;
        height: 40px;
        border-left: none;
        border-top-right-radius: 10px;
        vertical-align: middle;
    }
    .btn-send-subscribe{
        width: 150px;
        height: 46px;
        background-color: $clr1;
        font-size: 18px;
        color: white;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        left: 50px;
        vertical-align: middle;
    }
}