.profile-notefications {
    direction: rtl;
    padding-right: rem(60px);
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    .headline {
        font-family: Rubik-medium;
        font-size: rem(25px);
    }
    .sub-headline {
        font-family: Rubik-regular;
        margin-bottom: rem(50px);
    }
    .every-new-event,
    .new-event-on-my-interest,
    .new-jobs-on-my-interest,
    .news,
    .me-tagged,
    .my-missions-updates,
    .completed-missions,
    .delayed-missions,
    .new-comments,
    .completed-projects,
    .delayed-projects {
        border-top: 0.5px solid #c4c4c4;
        border-bottom: 0.5px solid #c4c4c4;
        font-family: Rubik-regular;
        height: rem(66px);
        .btn-notefications {
            background-color: white;
            border: 1px solid #4a4a4a;
            width: rem(66px);
            height: rem(27px);
            border-radius: 15px;
            &.color {
                background-color: $clr7;
                border: 1px solid $clr7;
            }
            & .no {
                background-color: #6e6e6e;
                margin-right: 70%;
                width: rem(20px);
                border-radius: 50%;
                height: rem(20px);
                transition: 0.5s;
            }
            & .yes {
                background-color: white;
                width: rem(20px);
                height: rem(20px);
                border-radius: 50%;
                margin-left: -90%;
                transition: 0.5s;
            }
        }
    }
}
