// .main-sidebar{
// display: flex;
// flex-direction: row-reverse;
// position: absolute;
// justify-content: flex-start;

// }

/*
.father of side bar and project list{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
*/
.sideBar {
  position: absolute;
  width: 45px;
  height: 2384px;
  left: 1300px;
  top: 100px;

  background: rgba(52, 1, 142, 0.3);
}
// .sideBar-container {
//     height: 100vh;
//     width: 15%;
//     // border-left: 2px solid #34018E;
//     // direction: rtl;
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: flex-start;

//     z-index: 100;
//     // padding: 15px;
// }
.sidebarList {
  height: 100%;
  width: 100%;
  padding: 0;
  //    padding: 15px;
  // background-color: blue;
  // padding: 25px;
  position: sticky;
  bottom: auto;

  .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Rubik-regular;
    padding: 2px;
    white-space: nowrap;
    padding-right: 10px;
  }
}
.row:hover {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 0 35px 35px 0;
  cursor: pointer;
  width: 100%;
  // padding: 5px;
}
#active {
  background-color: #f2f2f2;
}

.sidebar-admin-right-arrow {
  position: absolute;
  width: 303px;
  height: 2384px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: -6px 0px 6px #34018e;

  label {
    position: absolute;
    width: 135px;
    height: 20px;
    left: 32px;
    top: 26px;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #2c2c2c;
  }
}
// .sidebar-admin-hidden{
//     display: none;
// }
// .sidbar-left-arrow {
//   height: 100%;
//   width: 25px;
//   background-color: #35018e3a;
//   position: absolute;
//   // right: 0;
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: center;
// }
// .menu-toggle {
//   display: flex;
//   align-items: center;
//   gap: 5px;
// }
