// .main-sidebar{
// display: flex;
// flex-direction: row-reverse;
// position: absolute;
// justify-content: flex-start;

// }
.sideBar{
    display: flex;
    flex-direction: row-reverse;
}
.sideBar-container {
    height: 100vh;
    width: 15%; 
    // border-left: 2px solid #34018E;
    // direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    z-index: 100;
    // padding: 15px;
}
.sidebarList {
    height: 100%;
    width: 100%;
    padding: 0;
//    padding: 15px;
    // background-color: blue;
    // padding: 25px;
    

    .row {
        width: 100%;
        height: 50px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: Rubik-regular;
        padding: 2px;
        white-space: nowrap;
      
    }

}
.row:hover {
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-radius: 0 35px 35px 0;
    cursor: pointer;
    width: 100%;
    // padding: 5px;
    
}
#active{
    background-color: #f2f2f2;
}

.sidebar-admin-right-arrow{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px solid #34018E;

    label{
        white-space: nowrap;
    }
    }
// .sidebar-admin-hidden{
//     display: none;
// }
.sidbar-left-arrow{
    height: 100vh;
    width: 25px;
    background-color:#35018e3a ;
    position: absolute;
    // right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}
.menu-toggle{
    display: flex;
    align-items: center;
    gap: 5px;
}