.box-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 450px;
    background-color: white;
    text-align: center;
    color: #4a4a4a;
    box-shadow: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    .save-modal-button {
        width: 200px;
        height: 46px;
        background-color: #34018e;
        font-size: 18px;
        color: white;
        border-radius: 2px 15px;
        border: none;
        font-family: Rubik, sans-serif;
        align-content: center;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .addLinkInput {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid #b8b8b8;
    }
    // }
    .ppl-assigned-headline-perm {
        line-height: rem(30px);
    }
    .addLinkInput {
        // width: 200px;
        text-align: center;
    }
    .each-user-perm {
        // display: flex;
        // justify-content: space-between;
        direction: rtl;
        &:hover {
            box-sizing: border-box;
            background-color: #f2f2f2;
            border-radius: 0 35px 35px 0;
            cursor: pointer;
            width: 100%;
        }
    }
    // .each-user:hover {
    // }

    .dropdownPermits {
        padding: 5px;
        border-radius: 5px;
        width: 120px;
    }
}
