/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */

/* .style {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
} */

/* boxStyle{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    text-align: center;
    color: #4A4A4A;
    box-shadow: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
} */

/* .dropZone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
    border-radius: 3px;
    margin: 2rem;
    padding: 2rem;
    width: 200px;
    height: 100px;
    border: 1px solid #b8b8b8;

} */

/* .chooseFromPC {
    padding: 8px;
    width: 100px;
    background-color: #e7e7e7;
    text-align: center;
    color: #4A4A4A;
} */

/* .addLinkInput {
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    text-align: right;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;

} */

/* .addLinkText {
    font-family: 'Rubik', sans-serif;
    text-align: right;
} */

/* .addLinkButton {
    width: 150px;
    border: 0;
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px 15px;
    background-color: #34018E;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 10px;

} */
/* .add-label {
    width: 270px;
    background-color: #F2F2F2;
    font-family: 'Rubik';
    padding: 8px;
    color: #4A4A4A;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 100;
    border: 0;
    border-radius: 3px;
} */

/* .tagsContainer {
    display: flex;
    flex-direction: column;
    width: 250;
    margin: 10px;
}

.tagContainer {
    display: flex;
    margin-bottom: 8px;
}

.tag {
    width: 250px;
    height: 28px;
    border-radius: 4px;
    background-color: blue;
    margin-left: 5px;
} */

/* .users-assigned {
    width: 100%;
}

.each-user {
    cursor: pointer;
    direction: rtl;
    margin: auto 10px auto auto;

}

.title-ppl-assigned {
    width: 100%;
    justify-content: space-between;
}

.title-ppl-assigned h3 {
    margin: 10px;

}

.close_sign {
    cursor: pointer;

}

.close_sign:hover {
    background-color: rgb(194, 194, 194, 0.2);
    border-radius: 15px;
    transition: .5s;
} */