.app-header {
    padding: 5px 0 5px 0;
    background-color: #c0e2ee00;
    margin-bottom: 10px;

    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: right;
        
    }

    .hero-title {
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 71px;
        color: #000;
    }
    .hero-content-title {
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 14px;
        color: #000;
    }

    // Move to nav scss

    .left-list{
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-around;
        padding-left:0;
        width: 25vw;
        
        .left-list li a{
         margin-top: 50%;
        }
    }

    .list {
        
        gap: 10px;
        border-radius: 50%;
        padding-left:0;
        width: 90vw;
        // height: 100%;
        display: flex;
        list-style: none;
        flex-direction: row-reverse;
        justify-content: right;
       
        li{
            margin-left: 4%;
            margin-right: 2%;
        }

        :hover {
            transform: scale(1.08);
        }
    }
     .logo {
         padding-left: 5px;
     }
}
 //.header-layout {
 //    background-color: lightskyblue;
 //    margin-bottom: 15px;
 //}