.app-header {
    padding: 5px 0 5px 0;
    background-color: #c0e2ee00;
    margin-bottom: 10px;
    border: dashed #ce2e6c;


    .hero-container {
        display: flex;
        flex-direction: column;
        text-align: right;
        
    }

    .hero-title {
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 71px;
        color: #000;
    }
    .hero-content-title {
        font-family: Rubik, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 14px;
        color: #000;
    }

    
}
