.app-header {
    padding: 50px;
    background-color: #c0e2ee00;
    margin-bottom: 10px;
    border: dashed #ce2e6c;
    font-family: Rubik, sans-serif;
    font-style: normal;

    .header-container {
        display: flex;
        flex-direction: column;
        text-align: right;

    }

    .header-content {
        h1 {
            font-size: 45px;
            line-height: 47px;
            color: #000;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 20px;
            line-height: 14px;
            color: #000;
            margin: 0;
        }

        p {
            margin-top: 10px;
            font-size: 15px;
            line-height: 20px;
        }
    }

    .header-buttons {

        span {
            border: 2px solid $clr2;
            font-weight: bold;
            box-sizing: border-box;
            cursor: pointer;
            border-radius: 2px 15px;
            font-family: Rubik, sans-serif;
            font-size: 1em;
            margin-left: 5%;
            padding: 1% 7% 1% 8%;
            text-decoration: none;
        }

        span:hover {
            background-color: $clr7;
            color: $clr6;
            transition: 0.5s;
        }

        a {
            text-decoration: none;
        }
    }

    .header-logo {
        margin-left: 15%;

    }

}
