.app-navbar {
    padding: 5px 0 5px 0;
    background-color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Rubik';
    display: flex;
    
    
    a{
        text-decoration: none;
        color: black;
    }

    .user_logo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .left-list{
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        padding-left:0;
        width: 25vw;
        margin: auto;

    .mngr-login-button{
               
        background: linear-gradient(to bottom, rgba(52, 1, 142, 1) 0%, rgba(108, 229, 231, 1) 100%);
        opacity: .5;
        cursor: pointer;
        font-family: 'Rubik';
        border-radius: 2px 15px;
        margin-left: 20px;
        width: 153px;
        height:40px;
        margin:auto 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        }
        .mngr-login-button:hover {
        opacity: .75;

        }

        .mngBtn{
            background-color: transparent;
            border: 0;
            font-size: medium;
            color: white;
            font-family: 'Rubik';
            font-weight: bold;
            cursor: pointer;
            text-align: center;
        }

        .user_logo{
            //position: relative;
            transform: scale(.9);
            color: #ffffff;
            opacity: .5;
            background: linear-gradient(to bottom, rgba(52, 1, 142, 1) 0%, rgba(108, 229, 231, 1) 100%);        
        }
    
        .user_logo:hover{
    
            opacity: .75;
        }

        li{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:10px;
            a{
                width: fit-content;
                color: white;
               
            }
            
         }
    }

    .selected{
        text-decoration: underline;
    }

    .list {
        
        gap: 10px;
        border-radius: 50%;
        padding-left:0;
        width: 100%;
        display: flex;
        list-style: none;
        flex-direction: row-reverse;
        justify-content: space-around;
        font-family: 'Rubik';
        font-weight: 600;

        
        li{
            margin-left: 4%;
            margin-right: 2%;
            
            
        }
        
        :hover {
            transform: scale(1.08);
        }
    }

     .coola_like_logo {
         padding-left: 5px;
         cursor: pointer;
     }

     
     
    }//navbar
