.box-person {
    padding: 30px;
    font-family: Rubik-regular;
    direction: rtl;
    background-image: url(../images/background.jpg);
    .box-person-head {
        padding: 40px 0px;
        background-color: #ffffff6e;
    }
    .box-person-headline {
        // font-family: Rubik-regular;
        font-size: rem(40px);
    }
    .box-person-sub-headline {
        font-size: rem(25px);
    }
    .box-person-content {
        background-color: #ffffff6e;
        .founders {
            .founder-content {
                width: 200px;
                direction: ltr;
                .person-name {
                    display: block;
                    font-family: Rubik-medium;
                    font-size: rem(25px);
                }
                .role-text {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
