.task-con {
  font-family: "Spartan sans-serif";
  width: 300px;

  border: 1px solid lightgrey;
}
.save-btn {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 40px;
  width: 50%;
  color: whitesmoke;
  background-color: #34018e;
}
