@font-face {
    font-family: Rubik-regular;
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: Rubik-bold;
    src: url(../fonts/Rubik-Bold.ttf);
}
@font-face {
    font-family: Rubik-medium;
    src: url(../fonts/Rubik-Medium.ttf);
}
