// Colors
$clr1: #35028E;
$clr2: #092F32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #34018E;

// Priority colors
$modeC1:#7EB3FF;
$modeC2:#FFC474;
$modeC3:#FFA39C;
$modeC4:#69EB7D;

// High priority color
$priority:#6D49AC;

// Plus background color
$plusBackground:#F2F2F2;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$medium-breakpoint: 960px;
$normal-breakpoint: 1140px;