// Colors
$clr1: #35028e;
$clr2: #092f32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #34018e;
$clr8: #d6cce8;
// Priority colors
$modeC1: #7eb3ff;
$modeC2: #ffc474;
$modeC3: #ffa39c;
$modeC4: #69eb7d;

//abot page background
$lightBlue:#3EE4E7;
// High priority color
$priority: #6d49ac;

// Plus background color
$plusBackground: #f2f2f2;

// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 720px;
$medium-breakpoint: 960px;
$normal-breakpoint: 1240px;
